/* stylelint-disable max-line-length */
.album-loading {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  height: 100vh;
  width: 100%;
}

.album-loading-header {
  position: absolute;
  width: 100%;
}

.album-loading-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.album-page {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  min-height: 100vh;
  padding: 0 0 30px;
  width: 100%;
}

.album-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.album-info {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
  width: 20%;
}

.album-info h2 {
  font-family: Montserrat Alternates , sans-serif;
  font-weight: 800;
  padding: 10px;
}

.album-info p {
  font-family: Montserrat Alternates , sans-serif;
}

@media screen and ( max-width : 1024px ) {

  .album-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  .album-info {
    margin: 10px 0;
    width: 50%;
  }

  .album-info h2, .album-info p {
    text-align: center;
  }
}

@media screen and ( max-width : 400px ) {

  .album-content {
    display: flex;
    flex-direction: column;
  }

  .album-info {
    margin: 10px 0;
    width: 90%;
  }

  .album-info h2, .album-info p {
    font-size: 15px;
    text-align: center;
  }
}
