/* stylelint-disable max-line-length */
.profile-loading {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  height: 100vh;
  width: 100%;
}

.profile-loading-header {
  position: absolute;
  width: 100%;
}

.profile-loading-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.page-profile {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-profile-content {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  width: 40%;
}

.profile-image {
  border: 2px solid white;
  border-radius: 100%;
  margin: 10px 0;
  width: 200px;
}

.page-profile-name, .page-profile-email, .page-profile-description, .page-profile-link {
  font-family: Montserrat Alternates , sans-serif;
  margin: 0 0 10px;
  text-align: center;
  width: 90%;
}

.page-profile-name h2, .page-profile-email h2, .page-profile-description h2 {
  font-weight: 800;
  word-break: break-word;
}

.page-profile-name p, .page-profile-email p, .page-profile-description p {
  word-break: break-all;
}

@media screen and ( max-width : 400px ) {

  .page-profile-content {
    width: 90%;
  }
}
