.search-loading {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  height: 100vh;
  width: 100%;
}

.search-loading-header {
  position: absolute;
  width: 100%;
}

.search-loading-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.search-container {
  background-image: linear-gradient(to right top, #eec5ee, #dacffe, #c2d9ff, #aee2ff, #a2e9ff, #99eefe, #92f3fb, #8ff8f5, #8ffbe9, #97feda, #a5ffc9, #b7ffb7);
  min-height: 100vh;
  width: 100%;
}

.search-result {
  height: 100%;
  width: 100%;
}

.search-camp {
  margin: 30px auto 0;
  width: 50%;
}

.search-camp button, input {
  font-family: Montserrat Alternates , sans-serif;
}

.btn-outline-secondary:hover {
  background-color: black;
}
